<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrap">
    <table class="aaa">
      <tr>
        <th>asset</th>
        <th>free</th>
        <th>locked</th>
      </tr>
      <tr *ngFor="let balance of balances">
        <td>{{ balance.asset }}</td>
        <td>{{ balance.free }}</td>
        <td>{{ balance.locked }}</td>
      </tr>
    </table>
  </div>
</ion-content>
