// base color
$black: #343434;
$white: #ffffff;
// var
$table_line_header: 1px solid var(--ion-border-color);
$table_line_col: 1px solid var(--ion-border-color);

//================================
ion-grid {
  --ion-grid-padding: 0px;
}
.header {
  border-right: $table_line_header;
  border-bottom: $table_line_header;
  padding: 5px;
  text-align: start;
  background-color: var(--ion-color-secondary);
  color: $white;
}
.header:last-child {
  border-right: unset;
}

.col {
  border-right: $table_line_col;
  border-left: $table_line_col;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col:first-child {
  border-left: unset;
}
.col:last-child {
  border-right: unset;
}

ion-row:last-child {
  border-bottom: $table_line_col;
}

.header.asset,
.header.profitRatio {
  width: calc(1/6 * 100%);
}

.header.aveBuyPrice,
.header.nowSymbolPrice {
  width: calc(2/6 * 100%);
}

// 横向き対応
@media (orientation: landscape) {
  // ノッチ対応
  .header:first-child,
  .header:last-child,
  .col:first-child,
  .col:last-child {
    text-align: center;
  }
}