<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button (click)="this.fetchPortfolioProfitRatios()">更新</ion-button>
<table>
  <tr>
    <th class="header asset">通貨</th>
    <th class="header aveBuyPrice">平均購入価格</th>
    <th class="header nowSymbolPrice">現在価格</th>
    <th class="header profitRatio">利益率</th>
  </tr>
</table>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let ppr of portfolioProfitRatios">
      <ion-col class="col asset" size="2">{{ ppr.balance.asset }}</ion-col>
      <ion-col class="col aveBuyPrice" size="4">{{ ppr.aveBuyPrice }}</ion-col>
      <ion-col class="col nowSymbolPrice" size="4">{{ ppr.nowSymbolPrice }}</ion-col>
      <ion-col class="col profitRatio" size="2">{{ ppr.profitRatio }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
